.ant-layout-sider::-webkit-scrollbar {
  width: 4px;
}

.ant-layout-sider::-webkit-scrollbar-track {
  background: transparent;
}

.ant-layout-sider::-webkit-scrollbar-thumb {
  background-color: #d6e4ff;
  border-radius: 10px;
}

.ant-layout-sider::-webkit-scrollbar-thumb:hover {
  background-color: #eef5ff;
}

.ant-layout-sider {
  scrollbar-width: thin;
  scrollbar-color: #d6e4ff transparent;
}
