.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-300 {
  font-weight: 300;
}

.line-height-100-per {
  line-height: 100%;
}

.line-height-20 {
  line-height: 20px;
}

.line-height-30 {
  line-height: 30px;
}

.gap-18 {
  gap: 18px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.mt-3 {
  margin-top: 3px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-24 {
  margin-bottom: 24px;
}

.p-24 {
  padding: 24px;
}

.w-120 {
  width: 120px;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--textSecondary);
}

.h-48 {
  height: 48px;
}
